---
// Layouts
import MainLayout from "../layouts/MainLayout.astro";

// Components
// import SmallArticle from "../components/Articles/Card/SmallArticle.astro";
import PopularArticle from "../components/Articles/Popular/index.astro";

// REACT
import ArticlesList from "../React/components/Articles/ListArticles.jsx";

// Component Utils
// import SkeletonArticle from "../components/utils/Loading/Skeleton/index.astro";
---

<MainLayout title="Home">
  <main class="flex flex-col justify-between gap-5">
    <!-- === Popular Articles === -->
    <PopularArticle />
    <!-- === end of Popular Articles === -->
    <!-- === Container 1 === -->
    <div class="flex flex-row gap-8">
      <!-- === Articles === -->
      <aside class="flex flex-col gap-2 w-6xl">
        <!-- Label Container -->
        <h1
          class="text-3xl font-medium pb-2 border-b-3 border-slate-700 text-slate-800 select-none"
        >
          Articles
        </h1>
        <!-- === Sub Container 1 : Categories === -->
        <div class="flex flex-row gap-2 border w-full py-1 select-none">
          <button type="button" class="border px-2 rounded-sm"
            >Category 1</button
          >
          <button type="button" class="border px-2 rounded-sm"
            >Category 1</button
          >
          <button type="button" class="border px-2 rounded-sm"
            >Category 1</button
          >
          <button type="button" class="border px-2 rounded-sm">More</button>
        </div>
        <!-- === end of Sub Container 1 : Categories === -->
        <!-- === Sub Container 2 : List Article === -->
        <!-- Render  REACT -->
        <ArticlesList client:load />
        <!-- end of Sub Container 2 : List Article -->
      </aside>
      <!-- === end of Articles === -->

      <!-- Article Recommendations -->
      <aside class="w-[20%] border">Recommendation</aside>
    </div>
    <!-- === end of Container 1 === -->
  </main>
</MainLayout>
