<div class="h-96 w-full rounded-sm overflow-hidden">
  <img
    src="https://via.assets.so/game.png?id=1&q=95&w=1400&h=400&fit=fill"
    class="object-cover w-full h-full"
    alt="project-image"
    draggable="false"
  />
</div>