---
import "../styles/global.css";

export interface Props {
  title?: string;
}

const { title = "Astro" } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>MyBlog | {title}</title>

    <!-- Font Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Icon -->
    <script
      is:inline
      src="https://kit.fontawesome.com/3e5321d52d.js"
      crossorigin="anonymous"></script>

    <!-- Script untuk Dark Mode -->
    <script is:inline>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      // document.documentElement.classList.toggle(
      //   "dark",
      //   localStorage.currentTheme === "dark" ||
      //     (!("theme" in localStorage) &&
      //       window.matchMedia("(prefers-color-scheme: dark)").matches)
      // );
      const theme = localStorage.getItem("theme");
      document.documentElement.setAttribute('data-theme', theme);
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
